
        body{
            font-size: 16px;
        }
        h1{
            font-weight: 600;
            color: orange;
            font-family: sans-serif;                        
            text-align: center;
            background-color: yellow;            
        }
        p{
            font-weight: 600;
            text-decoration: underline;
            background-color: tomato;
            font-family:monospace ;                   
        }        
        ul{
            background-color:saddlebrown;
            font-style: italic;
            line-height: 15px;
            font-family: monospace;
        }